<p class="gap"><%= notice %></p>
<section class="main-header">
  <img src="<%=asset_path "twooter.png"%>">
</section>
<section class="about">
  <h1>About Twootter</h1>
  <p>
     Twootterはテゥオートするためのウェブです。
  </p>
  
</section>
